<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hello Pablo!</title>
      <link rel="stylesheet" href="css/bulma.min.css">
      <link rel="stylesheet" href="css/app.css">
   </head>
   <body>
      <nav class="navbar" role="navigation" aria-label="main navigation">
         <div class="navbar-brand">
            <p class="navbar-item ">
               <a class="link is-info">Home</a>
            </p>
            <p class="navbar-item ">
               Portafolio Pablo Emmanuel de Leon
            </p>
         </div>
      </nav>
      <div id='vueapp'>
         <section class="section">
            <div class="tabs">
               <ul>
                  <li @click.prevent="setActive(1)" :class="{ 'is-active': isActive(1) }"><a>Crear</a></li>
                  <li @click.prevent="setActive(2)" :class="{ 'is-active': isActive(2) }"><a>Editar</a></li>
                  <li @click.prevent="setActive(3)" :class="{ 'is-active': isActive(3) }"><a>Asignar</a></li>
                  <li @click.prevent="setActive(4)" :class="{ 'is-active': isActive(4) }"><a>Eliminar</a></li>
                  <li @click.prevent="setActive(5)" :class="{ 'is-active': isActive(5) }"><a>Media</a></li>

               </ul>
            </div>
            <form v-show="currentab==1"class="box">
               <h2 class="title is-4">Crear Proyecto </h2>
               <div class="field">
                  <label class="label">Nombre del Proyecto</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="nombre_proyecto" >
                  </div>
               </div>
               <div class="field">
                  <label class="label">Descripción</label>
                  <textarea class="textarea" placeholder="Textarea" v-model="descripcion" ></textarea>
                  <!--  <p class="help is-success">This username is available</p>-->
               </div>
               <div class="field">
                  <label class="label">Cliente</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="cliente">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Software</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="software">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Links</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="links">
                  </div>
               </div>
               <div class="field">
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="label">Fecha Inicio</label>
                        <div class="control">
                           <input class="input" type="date" placeholder="Text input" v-model="fecha_inicio">
                        </div>
                     </div>
                     <div class="column">
                        <label class="label">Fecha Fin</label>
                        <div class="control">
                           <input class="input" type="date" placeholder="Text input" v-model="fecha_fin">
                        </div>
                     </div>
                  </div>
               </div>
               <label class="label">Imágen de portada</label>
               <label class="file-label">
                  <div id="file-js" class="file has-name">
               <label class="file-label">
               <input class="file-input" type="file" id="cover" ref="cover" v-on:change="coverChoosen" >
               <span class="file-cta">
               <span class="file-icon">
               <i class="fas fa-upload"></i>
               </span>
               <span class="file-label">
               Choose a file…
               </span>
               </span>
               <span class="file-name">
               {{coverName}}
               </span>
               </label>
               </div>
               </label>
              </br>
               <div class="field">
                  <label class="label">Incluir en CofCof</label>
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof"
                           value="descripcion">
                        Descripción
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof"
                           value="cliente">
                        Cliente
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof"
                           value="software">
                        Software
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof"
                           value="fechas">
                        Fechas
                        </label>
                     </div>
                  </div>
               </div>
               <div class="field">
                  <label class="label">Incluir en Personal</label>
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal"
                           value="descripcion">
                        Descripción
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal"
                           value="cliente">
                        Cliente
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal"
                           value="software">
                        Software
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal"
                           value="fechas">
                        Fechas
                        </label>
                     </div>
                  </div>
               </div>
               </br>
               <div class="field is-grouped">
                  <div class="control">
                     <button v-on:click="crear_proyecto" class="button is-link">Submit</button>
                  </div>
               </div>
            </form>
            <form v-show="currentab==1" class="box">
               <h2 class="title is-4">Agregar imágen a proyecto</h2>
               <div v-for="r1 in proyectos">
                  <div class="field" v-for="r in r1">
                     <label class="radio">
                     <input type="radio"
                        v-model="nombre_proyecto_checked_media"
                        id="r.nombre_proyecto"
                        :value="r.nombre_proyecto">
                     {{ r.nombre_proyecto }}
                     </label>
                  </div>
               </div>
               <label class="file-label">
                  <div id="file-js" class="file has-name">
               <label class="file-label">
               <input class="file-input" type="file" id="file" ref="file" v-on:change="mediaChoosen" >
               <span class="file-cta">
               <span class="file-icon">
               <i class="fas fa-upload"></i>
               </span>
               <span class="file-label">
               Choose a file…
               </span>
               </span>
               <span class="file-name">
               {{mediaName}}
               </span>
               </label>
               </div>
               </label>
               </br>
               <div class="field is-grouped">
                  <div class="control">
                     <button class="button is-link" @click='uploadFile()'>Submit</button>
                  </div>
               </div>
            </form>
            <form v-show="currentab==3" class="box">
              <h2 class="title is-4">Asignar Proyectos </h2>
               <div class="columns is-desktop">
                  <div class="column">
                     <h2 class="title is-4">Proyectos en CofCof</h2>
                     <div  v-for="proyecto in proyectoscofcof">
                        <div class="field" v-for="r in proyecto">
                           <label class="checkbox">
                           <input type="checkbox"
                              v-model="r.checked"
                              :id="r.nombre_proyecto"
                              :value="r.nombre_proyecto"
                              >
                           {{ r.nombre_proyecto }}
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="column">
                     <h2 class="title is-4">Proyectos en Personal</h2>
                     <div  v-for="proyecto in proyectospersonal">
                        <div class="field" v-for="r in proyecto">
                           <label class="checkbox">
                           <input type="checkbox"
                              v-model="r.checked"
                              :id="r.nombre_proyecto"
                              :value="r.nombre_proyecto">
                           {{ r.nombre_proyecto }}
                           </label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="field is-grouped">
                  <div class="control">
                     <button v-on:click="asignar_proyecto" class="button is-link">Submit</button>
                  </div>
               </div>
            </form>

            <form v-show="currentab==4" class="box">
               <h2 class="title is-4">Eliminar Proyecto </h2>
               <div v-for="r1 in proyectos">
                  <div class="field" v-for="r in r1">
                     <label class="radio">
                     <input type="radio"
                        v-model="nombre_proyecto_checked_delete"
                        id="r.nombre_proyecto"
                        :value="r.nombre_proyecto"
                        >
                     {{ r.nombre_proyecto }}
                     </label>
                  </div>
               </div>
               <div class="field is-grouped">
                  <div class="control">
                     <button v-on:click="eliminar_proyecto" class="button is-link">Submit</button>
                  </div>
               </div>
            </form>
            <form v-show="currentab==3" class="box">
               <h2 class="title is-4">Ordenar Proyectos </h2>
               <div class="columns is-desktop">
                  <div class="column">
                     <h3 class="title is-5">Proyectos en CofCof</h3>
                     <div class="card">
                        <ul v-if="ordencofcof.length>0" class="panel list-group" style="min-height: 10px;">
                           <draggable v-model="ordencofcof" :options="{ dragClass:'dragItem', ghostClass:'dropHere'}">
                              <a class="panel-block list-group-item" v-for="element in ordencofcof"> {{element.name}}</a>
                              <a class="panel-block list-group-item" v-if="ordencofcof.length === 0"></a>
                           </draggable>
                        </ul>
                     </div>
                  </div>
                  <div class="column">
                     <h3 class="title is-5">Proyectos en Personal</h3>
                     <div class="card">
                        <ul v-if="ordencofcof.length>0" class="panel list-group" style="min-height: 10px;">
                           <draggable v-model="ordenpersonal" :options="{group:'proyect', dragClass:'dragItem', ghostClass:'dropHere'}">
                              <a class="panel-block list-group-item" v-for="element in ordenpersonal"> {{element.name}}</a>
                              <a class="panel-block list-group-items" v-if="ordenpersonal.length === 0"></a>
                           </draggable>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="field is-grouped">
                  <div class="control">
                     <button v-on:click="ordenar_proyectos" class="button is-link">Submit</button>
                  </div>
               </div>
            </form>

            <form v-show="currentab==2||currentab==5" class="box">
               <h2 class="title is-4">Elegir Proyecto </h2>
               <div v-for="r1 in proyectos">
                  <div class="field" v-for="r in r1">
                     <label class="radio">
                     <input type="radio"
                        v-model="nombre_proyecto_select"
                        id="r.nombre_proyecto"
                        :value="r.nombre_proyecto"
                        @change="select_project"
                        >
                     {{ r.nombre_proyecto }}
                     </label>
                  </div>
               </div>
            </form>

            <form v-show="currentab==2"class="box">
               <div class="field">
                  <label class="label">Nombre del Proyecto</label>
                  <div class="control">
                     <input class="input" disabled type="text" placeholder="Text input" v-model="nombre_proyecto_update" >
                  </div>
               </div>
               <div class="columns is-desktop">
               <div class="field column">
                  <label class="label">Descripción</label>
                  <textarea class="textarea" placeholder="Textarea" v-model="descripcion_update" ></textarea>
               </div>
               <div class="column">
               <figure class="image is-128x128">
                <img :src="'https://'+portada_update">
              </figure>
              </div>
              </div>
               <div class="field">
                  <label class="label">Cliente</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="cliente_update">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Software</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="software_update">
                  </div>
               </div>
               <div class="field">
                  <label class="label">Links</label>
                  <div class="control">
                     <input class="input" type="text" placeholder="Text input" v-model="links_update">
                  </div>
               </div>
               <div class="field">
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="label">Fecha Inicio</label>
                        <div class="control">
                           <input class="input" type="date" placeholder="Text input" v-model="fecha_inicio_update">
                        </div>
                     </div>
                     <div class="column">
                        <label class="label">Fecha Fin</label>
                        <div class="control">
                           <input class="input" type="date" placeholder="Text input" v-model="fecha_fin_update">
                        </div>
                     </div>
                  </div>
               </div>
               <!-- <label class="label">Imágen de portada</label>
               <label class="file-label">
                  <div id="file-js" class="file has-name">
               <label class="file-label">
               <input class="file-input" type="file" id="cover" ref="cover" v-on:change="coverChoosen" >
               <span class="file-cta">
               <span class="file-icon">
               <i class="fas fa-upload"></i>
               </span>
               <span class="file-label">
               Choose a file…
               </span>
               </span>
               <span class="file-name">
               {{coverName}}
               </span>
               </label>
               </div>
               </label> -->
              </br>
               <div class="field">
                  <label class="label">Incluir en CofCof</label>
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof_update"
                           value="descripcion">
                        Descripción
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof_update"
                           value="cliente">
                        Cliente
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof_update"
                           value="software">
                        Software
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addcofcof_update"
                           value="fechas">
                        Fechas
                        </label>
                     </div>
                  </div>
               </div>
               <div class="field">
                  <label class="label">Incluir en Personal</label>
                  <div class="columns is-desktop">
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal_update"
                           value="descripcion">
                        Descripción
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal_update"
                           value="cliente">
                        Cliente
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal_update"
                           value="software">
                        Software
                        </label>
                     </div>
                     <div class="column">
                        <label class="checkbox">
                        <input type="checkbox"
                           v-model="addpersonal_update"
                           value="fechas">
                        Fechas
                        </label>
                     </div>
                  </div>
               </div>
               </br>
               <div class="field is-grouped">
                  <div class="control">
                     <button v-on:click="editar_proyecto" class="button is-link">Submit</button>
                  </div>
               </div>
            </form>
             <form v-show="currentab==2||currentab==5" class="box">
            <div v-show="currentab==5">
              <div v-for="m in media" class="columns is-desktop panel">
              <figure class="image is-128x128">
               <img :src="'https://'+m.link_media">
             </figure>
             <div class="column">
                <label class="checkbox">
                <input type="checkbox"
                   v-model="m.cofcof"
                   value="cofcof">
                Añadir a CofCof
                </label>
                <label class="checkbox">
                <input type="checkbox"
                   v-model="m.personal"
                   value="personal">
                Añadir a Personal
                </label>
             </div>
              </div>
              </div>
              <div class="field is-grouped">
                 <div class="control">
                    <button v-on:click="asignar_media" class="button is-link">Submit</button>
                 </div>
              </div>
              </form>
         </section>
      </div>
   </body>
</html>
