<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Pablo!</title>
  <link rel="stylesheet" href="css/bulma.min.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <p class="navbar-item ">
        <a class="link is-info">Home</a>
      </p>
      <p class="navbar-item ">

        Portafolio Pablo Emmanuel de Leon

      </p>
    </div>
  </nav>
  <div id='vueapp'>
  <section class="section">

    <form class="box">
      <h2 class="title is-4">Crear Proyecto </h2>
      <div class="field">
        <label class="label">Nombre del Proyecto</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" v-model="nombre_proyecto" >
        </div>
      </div>


      <div class="field">
        <label class="label">Descripción</label>
        <textarea class="textarea" placeholder="Textarea" v-model="descripcion" ></textarea>
        <!--  <p class="help is-success">This username is available</p>-->
      </div>
      <div class="field">
        <label class="label">Cliente</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" v-model="cliente">
        </div>
      </div>
      <div class="field">
        <label class="label">Software</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" v-model="software">
        </div>
      </div>

      <div class="field">
        <label class="label">Links</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" v-model="links">
        </div>
      </div>

      <div class="field">
        <div class="columns is-desktop">
        <div class="column">
        <label class="label">Fecha Inicio</label>
        <div class="control">
          <input class="input" type="date" placeholder="Text input" v-model="fecha_inicio">
        </div>
        </div>
        <div class="column">
        <label class="label">Fecha Fin</label>
        <div class="control">
          <input class="input" type="date" placeholder="Text input" v-model="fecha_fin">
        </div>
        </div>
        </div>
      </div>
      <label class="label">Imágen de portada</label>
      <div class="file">

        <label class="file-label">
          <input class="file-input" type="file" name="resume">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
        </label>
      </div>


    </br>
    <div class="field is-grouped">
      <div class="control">
        <button v-on:click="crear_proyecto" class="button is-link">Submit</button>
      </div>
    </div>
  </form>

  <form class="box">
    <h2 class="title is-4">Agregar imágen a proyecto</h2>
    <div class="field" v-for="r in regs.proyectos">
      <label class="radio">
        <input type="radio"
         v-model="checkedCategories"
         id="r.nombre_proyecto"
         :value="r.nombre_proyecto"
         @change="check($event)">
         {{ r.nombre_proyecto }}
      </label>
    </div>
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label>
  </br>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>

<form class="box">
  <div class="columns is-desktop">
    <div class="column">
      <h2 class="title is-4">Proyectos en CofCof</h2>
      <div class="field" v-for="r in proyectoscofcof">
        <label class="checkbox">
          <input type="checkbox"
          v-model="r.checked"
          :id="r.nombre_proyecto"
          :value="r.nombre_proyecto"
          @change="checkcofcof($event)">
          {{ r.nombre_proyecto }}
        </label>
      </div>

    </div>

    <div class="column">
      <h2 class="title is-4">Proyectos en Personal</h2>
      <div class="field" v-for="r in proyectospersonal">
        <label class="checkbox">
          <input type="checkbox"
          v-model="r.checked"
          :id="r.nombre_proyecto"
          :value="r.nombre_proyecto"
          @change="checkpersonal($event)">
          {{ r.nombre_proyecto }}
        </label>
      </div>

    </div>
  </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>

</form>


<form class="box">
  <h2 class="title is-4">Eliminar Proyecto </h2>
  <div class="field">
    <label class="checkbox">
      <input type="checkbox">
      Proyecto 1
    </label>
  </div>
  <div class="field">
    <label class="checkbox">
      <input type="checkbox">
      Proyecto 2
    </label>
  </div>
  <div class="field">
    <label class="checkbox">
      <input type="checkbox">
      Proyecto 3
    </label>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>
</section>
</div>
</body>
</html>
