<html>
	<head>
		<title>Hello Example</title>
	</head>
	<body>
		<div id='vueapp'>
			<div>
				<p>
					Nombre: <input v-model="nombre" />
				</p>
				<p>
					Tel&eacute;fono: <input v-model="telefono" />
				</p>
				<p>
					<button v-on:click="enviar">Enviar</button>
				</p>
			</div>

			<h2>Listado de registros</h2>
      {{ regs }}
			<div>
				<div v-for="r in regs">
					<div>
            <!--<input type="checkbox"
             v-model="checkedCategories"
             id="r.nombre_proyecto"
             :value="r.nombre_proyecto"
             @change="check($event)">-->
             {{ r.nombre_proyecto }}
           </div>
				</div>

        	<button v-on:click="enviar_proyectos">ok</button>

          <div v-for="r in results">
            <div><input type="checkbox">{{ r }}</div>
          </div>
			</div>
		</div>

		<!-- Importamos Vue.js (Siempre al final) -->

	</body>
</html>
